
<!-- {% if page.url == item.link %} -->
    <!-- class="current" -->
    <!-- {% endif %}> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="road">
        <img src="./assets/images/Small_CB650F.png" alt="CBF650" class="Ontheroadagain" width="auto" height="40">
    </div>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" -->
    <!-- aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
    <!-- </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigation %}
                <a href="{{ item.link }}" 
                {% if item.name = "Articles" %} 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">            
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                {% endif %}
                    {{ item.name }}
                        </a>    
                    </li>
            {% endfor %}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% assign filtered_posts = site.posts %}
                {% for post in filtered_posts %}
                    <a class="dropdown-item" href="{{ post.url }}">{{ post.title }}</a>
                {% endfor %}
            </div>
        </ul>
        <div>
            <img src="./assets/images/damier-transp.png" alt="damier" class="Ontheroadagain" width="auto" height="30"
                left="10px">
        </div>
    </div>
</nav>