.road:hover{
    transform: rotateZ(-30deg);
    transition-duration: 1s;
    /* transition-property: transform; */
    transform: translate(1100px);
    transition-duration: 6s;
    /* animation: wheeling 5s; */
}

/* .myW{ */
    /* width: 5rem; */
/* } */

.photo{
    width: 50px;
    height: auto;
}